div.top-container
	div(data-bind="visible: getBoolean('protocol.isFormCompleted')")
		div(data-bind="visible: getBoolean('protocol.showScheduleLink')")
			h3 Schedule Next Appointment
			p Don't forget to schedule your next appointment!
			div(data-role="protocolform" data-component-id="scheduleForm" data-start-button="true")
				div
					a(data-role="button" href="https://app.circadios.com/superdoc-redirect?param=cHJpdmF0ZUtleT0zMTI5NGRhNGYxZDY0ZWY3YmU4NGNmMDQ5YjZkYTRhZjAyZGRiZGYyMzU4ODNhNmQ4MTdlYzBmNzFkNzdmZWQ2Jm1haWw9cGhpbGlwcGErMzIxQGhlYWxlZS5jb20mcGFnZT1zZWFyY2glMkZkb2N0b3JzJmNvdW50cnk9dXM=") Schedule
			br
			hr
			br
		h1.circadiosHeader This Week's Content
		div.circadios-content-container.week-one(data-bind="visible: getBoolean('protocol.isWeekOne')")
			h1.circadiosHeader Sleep Journal
			p Please complete your sleep journal every day. We'll send you a reminder before you go to bed to complete the journal
			div(data-role="protocolform" data-component-id="sleepJournalOne" data-start-button="true")
				div(data-bind="invisible: getBoolean('sleepJournalOne.isFormCompleted')")
					| Please complete today's sleep journal:&nbsp;&nbsp;
					a(data-role="button" data-action="start") Complete Sleep Journal
				div(data-bind="visible: getBoolean('sleepJournalOne.isFormCompleted')") Today's Sleep Journal is Complete! ✅
			br
			hr
			br
			div(style="text-align: center")
				img(src="#: getResUrl('weekone.png') #",style="width: 160px;")
			h2 Week 1
			h2 What is Obstructive Sleep Apnea?
			p Obstructive Sleep Apnea is a medical condition which occurs during sleep produced by obstruction of airflow through your nose and throat. The obstruction results in a reduction or complete obstruction of airflow and results in decreased oxygen (known as hypoxia) being delivered to your body. As a response to the hypoxia and in order to re-open the airway, the brain signals your body to increase muscle tone in your airway. This pattern of hypoxia and the body’s response to open the airway interrupts your normal sleep pattern. The combination of a lack of normal oxygen and interrupted sleep pattern may lead to several medical problems.
			p Obstructive sleep apnea is classified based on the number of episodes of alterations in your breathing. A decrease in airflow is known as hypopnea and a complete obstruction is an apnea. The number of apnea and hypopnea events per hour determines the severity of your sleep apnea.
			p Mild Obstructive Sleep Apnea is defined as 5 to 15 episodes of apnea/hypopnea in 1 hour. There are several signs which are monitored during your sleep study. These include heart rate, oxygen level and overall sleep pattern.
			p Your sleep study indicates you have mild obstructive sleep apnea. Symptoms of mild obstructive sleep apnea include:
			ul
				li 
					a(href="https://www.circadios.com/snoring") Snoring
				li Awakening during the night
				li Daytime fatigue
				li Lack of energy
				li Morning headache
				li Decreased sex drive
				li Lack of mental focus or brain fog
				li High blood pressure
				li Abnormal heart rate
			p Obstructive Sleep Apnea may contribute to heart problems.
			p We recommend discussing a cardiology evaluation with your primary care physician.
			p There are several treatment options for your mild obstructive sleep apnea.
			p A combination of lifestyle and sleep hygiene measures may be sufficient to treat your sleep apnea. In addition to lifestyle and sleep hygiene, addressing causes of airway obstruction such as nasal obstruction may be helpful. In other cases, we may recommend an oral appliance or positive airway pressure (pap) device known as an automatic pap (apap).
			h3 Understanding Positive Airway Pressure (PAP)
			p Positive airway pressure machines are small air compressors which utilize a motor and fan to generate a continuous flow of air. This stream of air travels through a filter and tubing which is connected to a mask worn on your face. The amount of air pressure delivered by a pap machine is between 4-25 centimeters of water. This creates a column of air which stents your airway open preventing obstruction and apnea.
			p There are different styles of machines used to help deliver the positive airway pressure.
			p The two most common types of pap machines are known as a continuous airway pressure machine (CPAP) and automatic positive airway pressure machine (APAP). A CPAP machine is set to deliver a specific pressure of air and is not adjustable.  APAP machines are able to adjust the amount of pressure being delivered based on the degree of obstruction. The ability to vary the pressure to the lowest levels required to treat the apnea events commonly makes APAP machines more comfortable.
			p We will be using a combination of an APAP machine and sleep hygiene to treat your moderate obstructive sleep apnea.
			p Let’s start by understanding the different components of an apap system.
			h3 Important APAP Features
			h4 Ramping
			p This is a component of an APAP which allows the machine to gradually increase the air pressure until it achieves the prescribed settings. This feature allows some people to fall asleep more easily as the pressure increases.
			h4 Humidification and Heat
			p Humidification is added to APAP to help prevent dryness of your nose and throat created by the air pressure from the machine. Additionally, many APAP systems will also heat the column of air which also decreases upper airway dryness and discomfort.
			h3 APAP Masks
			p As discussed, APAP functions by delivering a stream of air from a machine to your airway. The delivery of air is accomplished through the use of a mask. There are different styles of APAP masks available to make use of your apap more comfortable.
			h4 Nasal Mask
			p A nasal mask covers your entire nose and may be helpful if you have move around in bed and/or have facial hair.
			h4 Nasal Pillows
			p This is a mask which only covers the entrance of your nose and nostrils.
			h4 Full Face Mask
			p This mask covers your nose and mouth. This style is helpful who have nasal obstruction or breathe through their mouth.
			h3 OSA Precations
			p You should not drive or pilot any vehicle, heavy machinery or other mode of transportation until your sleep apnea is adequately treated.
			p You must discuss your sleep apnea diagnosis with any surgeon and anesthesiologist prior to undergoing any procedure or intervention.
			p You should avoid the use of any narcotics or sedatives.
			br
			hr
			br
			h1 Comfort w/ APAP
			p Your diagnosis is moderate obstructive sleep apnea which we are going to treat with a combination of automatic positive airway pressure (apap) and sleep lifestyle modifications.  The objective is to resolve your apnea to improve your sleep, daytime energy and help prevent health problems with your metabolism, heart and brain.
			p
				strong Goal:
				| Develop comfort wearing your apap mask and avoid sleeping on your back.
			p The daily task this week is to wear your apap mask (not connected to the machine) for 15 minutes a day together with the following relaxation exercises:
			ol
				li Visualize a relaxing scene to help increase a sense of relaxation and progressively relax your body
				li Begin by closing your eyes and taking 5 deep breaths
				li Next, tense your feet and curl your toes with a 5 second pause and release the tension
				li Move to your thigh and tense with a 5 second pause and release the tension
				li Tense your stomach and chest with a 5 second pause and release the tension
				li Tense your back with a 5 second pause and release the tension
				li Tense your hands and shoulders with a 5 second pause and release the tension
			p **If you are comfortable with your apap mask and do not need to perform these exercises, please proceed to wearing the apap mask attached to the machine and turn it on for 10 minute interval for a total of 3 sets.
			p Now, let’s look at how we can improve your sleep apnea by adjusting your sleep position.
			p The optimal position for treating your mild obstructive sleep apnea is a side sleeping position. You may also choose a face down sleep position but need to ensure the pillow or sheets do not obstruct your mouth or nose.
			p
				strong Avoid sleeping on your back!
			p Why?
			p Remember, obstructive sleep apnea is caused by an obstruction of airflow through your nose and throat traveling to your lungs. Sleeping on your back promotes structures in your mouth and throat to drop into the airway and contribute to the blockage of air.
			h3 Treatment Options
			p The simplest way to avoid sleeping on your back may be with a more comfortable pillow designed to promote sleeping on your side. Additionally, placing an extra pillow alongside your back may be all that is necessary to help you maintain a side sleeping position.
			p If you need a pillow, we recommend the 
				a(href="https://amzn.to/3gHQcvP") Eli &amp; Elm Ultimate Side Sleep Pillow
				| or the 
				a(href="https://amzn.to/3SNV3ZL") Beckham Hotel Collection Pillows

		div.circadios-content-container.week-one(data-bind="visible: getBoolean('protocol.isWeekOne')")
			h1.circadiosHeader Sleep Journal
			p Please complete your sleep journal every day. We'll send you a reminder before you go to bed to complete the journal
			div(data-role="protocolform" data-component-id="sleepJournalOne" data-start-button="true")
				div(data-bind="invisible: getBoolean('sleepJournalOne.isFormCompleted')")
					| Please complete today's sleep journal:&nbsp;&nbsp;
					a(data-role="button" data-action="start") Complete Sleep Journal
				div(data-bind="visible: getBoolean('sleepJournalOne.isFormCompleted')") Today's Sleep Journal is Complete! ✅
			br
			hr
			br
			div(style="text-align: center")
				img(src="#: getResUrl('weektwo.png') #",style="width: 160px;")
			h2 Week 2
			h2 Sleep Position w/ APAP
			p The focus this week is to continue increasing your comfort level with the apap mask and improving your sleep position.
			p
				strong Goal:
				| Apply apap mask with the machine on for 30 minutes and continue to avoid sleeping on 	your back.
			p Please begin wearing the apap mask attached to the machine with the unit on for 30 minutes. Please do this while performing sedentary activity such as reading or a short nap.
			p **If you are able to tolerate your apap mask, please begin wearing it at night when sleeping.
			p Next, continue to adjust your sleep position by avoiding sleeping on your back. Let’s review why this is important to treat your apnea and snoring.
			p Obstructive sleep apnea is caused by an obstruction of airflow through your nose and throat traveling to your lungs. Sleeping on your back promotes structures in your mouth and throat to drop into the airway and contribute to the blockage of air.
			p The simplest way to avoid sleeping on your back may be with a more comfortable pillow designed to promote sleeping on your side or by placing an extra pillow alongside your back.
			p However, if you have still had difficulty adopting a side sleeping position there are several other sleep devices to help you sleep on your side. Perhaps the simplest and least expensive is a tennis ball.
			p This involves taping a tennis ball to the back of your pajamas or shirt to prevent you from rolling over to your back. This may be cumbersome to repeat every night and we recommend evaluating the 
				a(href="https://amzn.to/3zjWfwZ") iSleepfit 
				| positioner or 
				a(href="https://amzn.to/3gzkSiu") Sleep Noodle.
			p If you find the above is not enough help to keep you sleeping on your side, then you may want to consider a sleep position trainer. There are 
				a(href="https://doi.org/10.5664/jcsm.4460") studies
				| supporting the effectiveness of these devices for the treatment of mild obstructive sleep apnea. One option is the 
				a(href="https://www.usa.philips.com/c-e/hs/sleep-apnea-therapy/i-was-just-diagnosed-with-sleep-apnea/cpap-alternative.html") Night Balance by Phillips.
			p
				strong While improving sleep position will reduce pressure needed by the APAP, if you cannot get comfortable sleeping on your side it is better to sleep in a comfortable position with higher pressure.
			h3 OSA Precations
			p You should not drive or pilot any vehicle, heavy machinery or other mode of transportation until your sleep apnea is adequately treated.
			p You must discuss your sleep apnea diagnosis with any surgeon and anesthesiologist prior to undergoing any procedure or intervention.
			p You should avoid the use of any narcotics or sedatives.
		div.circadios-content-container.week-one(data-bind="visible: getBoolean('protocol.isWeekOne')")
			h1.circadiosHeader Sleep Journal
			p Please complete your sleep journal every day. We'll send you a reminder before you go to bed to complete the journal
			div(data-role="protocolform" data-component-id="sleepJournalThree" data-start-button="true")
				div(data-bind="invisible: getBoolean('sleepJournalThree.isFormCompleted')")
					| Please complete today's sleep journal:&nbsp;&nbsp;
					a(data-role="button" data-action="start") Complete Sleep Journal
				div(data-bind="visible: getBoolean('sleepJournalThree.isFormCompleted')") Today's Sleep Journal is Complete! ✅
			br
			hr
			br
			div(style="text-align: center")
				img(src="#: getResUrl('weekthree.png') #",style="width: 160px;")
			h2 Week 3
			h2 Elevated Head (1) w/ APAP
			p This week will be focused on continuing to adapt to your apap mask and a modification to your sleep position to treat your moderate obstructive sleep apnea.
			p
				strong Goal: 
			ul
				li Increase comfort level with apap and improve sleep position.
				li Wear apap mask with machine on for at least 1 hour a night when sleeping.
				li Adjust your head position during sleep.
			p Please begin using your apap mask and machine for at least 1 hour a night when sleeping. If you experience discomfort or claustrophobia, go to previous week 2 content.
			p If you are comfortable, then utilize the apap for at least 3-4 hours of sleep.
			h3 Elevate Head Positioning
			p This week will focus on a second sleep hygiene measure to improve your mild obstructive sleep apnea. The goal is to elevate your head positioning during sleep.
			p 
				| A review of 
				a(href="https://www.usa.philips.com/c-dam/b2c/master/experience/hs/sleep-apnea-therapy/overview/obstructed-airway-side.png") your airway anatomy
				| will help to explain how the elevation of your head in combination with side sleeping position (from last week) helps treat your sleep apnea. Obstructive sleep apnea is caused by an obstruction of airflow through your nose and throat traveling to your lungs. Sleeping lying flat on your bed, known as supine, promotes the structures in your mouth and throat to drop into the airway and contribute to the blockage of air.
			p
				a(href="https://link.springer.com/article/10.1007/s11325-017-1524-3") Studies have shown
				| that raising your head position by elevating the head of your bed reduces the downward pressure on the soft tissues of the base of your tongue and palate. In turn, there is less collapse and obstruction of the airway improving your sleep apnea. Surprisingly, just a minor amount of elevation may significantly reduce your airway obstruction. We recommend a 10-15 degree of elevation of the head of your bed.
			p A simple technique to achieve head of bed elevation is to use a 15-cm high piece of wood or brick under the head-of-bed legs.
			p Alternatively, you may review 
				a(href="https://amzn.to/3gDukBr") bed risers
				| or a 
				a(href="https://amzn.to/3TEHn4t") bed wedge.
			h3 OSA Precations
			p You should not drive or pilot any vehicle, heavy machinery or other mode of transportation until your sleep apnea is adequately treated.
			p You must discuss your sleep apnea diagnosis with any surgeon and anesthesiologist prior to undergoing any procedure or intervention.
			p You should avoid the use of any narcotics or sedatives.
		div.circadios-content-container.week-one(data-bind="visible: getBoolean('protocol.isWeekOne')")
			h1.circadiosHeader Sleep Journal
			p Please complete your sleep journal every day. We'll send you a reminder before you go to bed to complete the journal
			div(data-role="protocolform" data-component-id="sleepJournalThree" data-start-button="true")
				div(data-bind="invisible: getBoolean('sleepJournalThree.isFormCompleted')")
					| Please complete today's sleep journal:&nbsp;&nbsp;
					a(data-role="button" data-action="start") Complete Sleep Journal
				div(data-bind="visible: getBoolean('sleepJournalThree.isFormCompleted')") Today's Sleep Journal is Complete! ✅
			br
			hr
			br
			h2 Week 4
			h2 Elevated Head (2) w/ APAP
			p The target this week is to begin utilizing your apap mask and machine throughout the night and continue improving your sleep position to treat your obstructive sleep apnea.
			p
				strong Goal:
				| Wear your apap mask for a minimum of 3-4 hours a night and if possible throughout the night. Adjust your head position while sleeping
			p In addition to your apap at night this is the second week of combining your side sleep position with head-of-bed elevation.
			p Raising your head position by elevating the head of your bed reduces the downward pressure on the soft tissues of the base of your tongue and palate. In turn, there is less collapse and obstruction of the airway improving your sleep apnea. Head-of-bed elevation may also improve decreasing the amount of normal body tissue fluid and swelling shifted to the upper airway during sleep in a supine position.
			p An additional benefit of elevating the head of your bed is this may help treat gastroesophageal reflux.
			p Surprisingly, just a minor amount of elevation may significantly reduce your airway obstruction. We recommend a 10-15 degree of elevation of the head of your bed.
			p Last week, we discussed simple techniques to achieve head of bed elevation utilizing a 15-20 cm high piece of wood or brick under the head-of-bed legs, bed risers or a bed wedge.
			p Alternatively, you may review 
				a(href="https://amzn.to/3gDukBr") bed risers
				| or a 
				a(href="https://amzn.to/3TEHn4t") bed wedge.
			p If you have difficulty with the use of the above, another alternative would be an adjustable frame. If you're interested, we've listed some adjustable frames.
			ul
				li Puffy Adjustable Base
				li Saatva Lineal Adjustable Base Bed
				li Nectar Adjustable Bed Frame
			h3 OSA Precations
			p You should not drive or pilot any vehicle, heavy machinery or other mode of transportation until your sleep apnea is adequately treated.
			p You must discuss your sleep apnea diagnosis with any surgeon and anesthesiologist prior to undergoing any procedure or intervention.
			p You should avoid the use of any narcotics or sedatives.
